.mp{color:white;}
.mp{display:flex;
justify-content: space-evenly;
flex-wrap:wrap;}
.ol{text-align: center;}
.ol{color:white;}
#o7{text-align:justify;}
.e1{height:90vh;}
.m1{color:white;}
*{padding:0;
margin:0;}


.timeline{
  background:linear-gradient(blue,red,pink) ;
}


.timeline ul{
  list-style:none;
}

.timeline ul li 
{
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #F45B69;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  left: -439px;
  transform: translate3d(-200px, 0, 0);
}


.timeline ul li div 
{
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li.in-view div 
{
  transform: none;
  visibility: visible;
  opacity: 1;
}


.background{background:url(https://tse2.mm.bing.net/th?id=OIP.WEwDmI4_qrD8nvgIxHI0UgHaFj&pid=Api&P=0&w=209&h=157);
background-size: cover;}